.byt_widget_nav .vc_element-icon {background-image:url(../images/byt-vc.svg);background-color: #5fc8c2;background-size: 24px;background-position: center;-webkit-border-radius: 16px;-moz-border-radius: 16px;border-radius: 16px;}

.byt_admin_vc_container .brand .icon-byt {background:url(../images/byt-vc.svg) 0 0 no-repeat;background-color: #5fc8c2;background-size: 20px;background-position: center;-webkit-border-radius: 16px;-moz-border-radius: 16px;border-radius: 16px;width: 30px;height: 30px;display: block;float: left;margin: 0 5px 5px 0;}
.byt_admin_vc_container .brand h3 {font-size:14px;margin: 0;padding: 5px 0;}
.byt_admin_vc_container h2 {padding: 10px 0 0 !important;}
.byt_admin_vc_container h6 {font-size:13px;}
.byt_admin_vc_container .byt_address_widget p {margin:10px 0 0;}
.byt_admin_vc_container .byt_address_widget p .material-icons {font-size:16px;}